* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #003C43;
}

/* Header */

header{
  background-color: #135D66;
}

section {
  background-color: #135D66;
  margin: 40px;
}

.navbar .navbar-brand .logo {
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 60px;
}

.navbar .navbar-brand {
 color: #77B0AA;
 font-weight: 700;
 font-size: 28px;
}

nav #navbarContent .form-control {
  border: none;
  width: 100%;
  padding: 8px 55px;
  margin: 6px 0;
  background: none;
  background-color: #E3FEF7;
  color: #77B0AA;
  font-weight: 600;
  align-items: center;
}


nav #navbarContent  .form-control:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}
nav #navbarContent .fa-search {
 color: #E3FEF7;
 background: #77B0AA;
 border-radius: 80%;
 padding: 12px 10px 12px 10px;
 margin: 2px;
 align-items: center;
 font-size: 18px;
}

nav #navbarContent .fa-search:hover {
  color: #77B0AA;
  background-color: #E3FEF7;
  border: #003C43;
  transition: 1s;
  font-size: 19px;
}

nav #navbarContent .btn{
  color: #135D66;
  background-color: #E3FEF7;
  padding: 8px 16px;
}

nav #navbarContent .btn:hover{
  background-color: #77B0AA;
  color: #E3FEF7;
  border: none;
}



@media (max-width: 1420px) {
  nav #navbarContent .btn  {
    margin-right: 20px;
  }
}

@media (max-width: 1210px) {
  nav #navbarContent .btn {
    margin-right: 25px;
  }
}


@media (max-width: 999px) {
  .navbar .navbar-brand .logo {
    margin-left: 2rem;
    margin-right: 3rem;
  }
  
  nav #navbarContent .form-control {
    width: 50%;
    padding: 8px 25px;
  }
}



/* Main Section */
main {
  width: 100%;
  /* max-width: 1000px; */
}
/* Content Left */
.content-left {
  width: 80%;
  border-radius: 20px;
}

.content-left .card {
  background-color: #135D66;
  border-radius: 8px;
  color: #E3FEF7;
  padding: 20px;
  /* margin-bottom: 20px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body .card-title {
  font-size: 1.5em;
  margin-bottom: 8px;
  line-height: 1.1;
}

.card-body .weapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-body .heading {
  font-size: 3em;
  margin-right: 60px;
}

.card-body .weather-icon {
  width: 94px;
  height: 94px;
}

.card-body .body-3 {
  font-size: 1em;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.list .items {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list .items span {
  margin-right: 10px;
  font-size: 1.2em;
  color: #E3FEF7;
}

/* Days-forecast */

.content-left #day-forecast {
  color: #E3FEF7;
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
  /* margin-top: 2px;
  margin-bottom: 2px; */
}

.icons-wrapper  .weather-icon{
  margin-right: 8px;
}

.icons-wrapper span .temperature {
  font-size: 24px;
  font-weight: 500;
  margin-top: 4px;
  margin-right: 40px;
}

.items .icons-wrapper .dates{
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-right: 100px;
}

.items .icons-wrapper .days{
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
/* Content Right */

.content-right {
  width: 80%;
  border-radius: 20px;
}

.content-right .card{
  display: flex;
  background-color: #135D66;
  border-radius: 8px;
  color: #E3FEF7;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1340px;
}

.content-right .card .card-title {
  font-size: 20px;
}

.content-right .card .card-sm {
  display: flex;
  background-color: #003C43;
  border-radius: 8px;
  color: #E3FEF7;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(33, 33, 33, 0.1);
  width: 600px;
}

.card-sm .air-quality {
  display: flex;
  justify-content: space-between;
}

.card-sm .air-quality .air-title {
  font-size: 18px;
  margin-top: 6px;
}

.card-sm .air-quality .good {
  background-color: #135D66;
  border: 1px solid #003C43;
  color: #E3FEF7;
  margin: 2px;
  padding: 2px 8px;
  border-radius: 20px;
}

.card-sm .air-quality .good:hover {
  color: #E3FEF7;
  background-color: #77B0AA;
  border: 1px solid #003C43;
}

.card-sm .air {
  display: flex;
  margin: 30px 0 10px 0;
}

.card-sm .air img {
  margin: 20px 0;
  margin-right: 5px;
}

.card-sm .air ul {
  list-style: none;
  display: flex;
}

.card-sm .air ul li {
 margin: 0 25px;
}

.card-sm .air ul li .air-scale {
  font-size: 16px;
  text-align: center;
  justify-content: center;
}

.card-sm .air ul li .air-nmnr {
  font-size: 2rem;
}

.card-sm .sunrise-sunset {
  display: flex;
  justify-content: space-between;
}

.card-sm .sunrise-sunset .sunset-title {
  font-size: 18px;
  margin-top: 6px;
}

.card-sm .sun-times {
  display: flex;
  margin: 20px 0 10px 0;
}


.card-sm .sun-times ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.card-sm  .sun-times ul li {
 margin: 0 25px;
}


.card-sm .sun-times img {
  margin: 30px 10px 0 10px;
}

.card-sm .sun-times ul li .set {
  font-size: 16px;
  text-align: center;
  margin-bottom: 14px;
}

.card-sm .sun-times ul li .time {
  font-size: 2rem;
}

.card-sm .updates .updates-title {
  font-size: 16px;
  text-align: start;
  margin-bottom: 14px;
}

#small-cards .updates-value img {
  margin: 30px 10px 0 10px;
}

#small-cards .updates-value .updates-nmr {
  font-size: 2rem;
  margin-top: 30px;
  margin-left: 40px;
}


.content-right #today-at{
  color: #E3FEF7;
  background: #003C43;
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
}

.content-right #days{
  margin-top: 20px;
  /* margin-left: 20px; */
  margin-bottom: 0;
}

.content-right #days .card-sm ul {
  list-style: none;
  margin: 0;
}

.content-right #days .card-sm ul li {
  font-weight: 600;
  /* margin-left: 18px; */
  margin-top: 10px;
}

/* .content-right #days .times-days {
  padding-left: 20px;
}


.content-right #days .card-sm ul  img {
  margin-right: 40px;
  margin-left: 2px;

}

.content-right #days .cel-days {
  padding-left: 30px;
} */