* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #003C43;
  overflow-x: hidden;
}

/* Header */
header {
  background-color: #135D66;
}

section {
  background-color: #135D66;
  margin: 40px;
  border-radius: 50px;
}

.navbar .navbar-brand .logo {
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 60px;
}

.navbar .navbar-brand {
  color: #77B0AA;
  font-weight: 700;
  font-size: 28px;
}

nav #navbarContent .form-control {
  border: none;
  width: 100%;
  padding: 8px 55px;
  margin: 6px 0;
  background: none;
  background-color: #E3FEF7;
  color: #77B0AA;
  font-weight: 600;
  align-items: center;
}

nav #navbarContent .form-control:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

nav #navbarContent .fa-search {
  color: #E3FEF7;
  background: #77B0AA;
  border-radius: 80%;
  padding: 12px 10px 12px 10px;
  margin: 2px;
  align-items: center;
  font-size: 18px;
}

nav #navbarContent .fa-search:hover {
  color: #77B0AA;
  background-color: #E3FEF7;
  border: #003C43;
  transition: 1s;
  font-size: 19px;
}

nav #navbarContent .btn {
  color: #135D66;
  background-color: #E3FEF7;
  padding: 8px 16px;
}

nav #navbarContent .btn:hover {
  background-color: #77B0AA;
  color: #E3FEF7;
  border: none;
}

@media (max-width: 1420px) {
  nav #navbarContent .btn {
    margin-right: 20px;
  }
}

@media (max-width: 1210px) {
  nav #navbarContent .btn {
    margin-right: 25px;
  }
}

@media (max-width: 999px) {
  .navbar .navbar-brand .logo {
    margin-left: 2rem;
    margin-right: 3rem;
  }

  nav #navbarContent .form-control {
    width: 50%;
    padding: 8px 25px;
  }
}

@media (max-width: 768px) {
  section {
    /* margin: 20px; */
    border-radius: 30px;
  }

  nav #navbarContent .form-control {
    width: 70%;
  }

  nav #navbarContent .btn {
    padding: 6px 12px;
  }
}

/* Main Section */
main {
  width: 100%;
}

.content-left {
  width: 80%;
  border-radius: 20px;
}

.content-left .card {
  background-color: #135D66;
  border-radius: 8px;
  color: #E3FEF7;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.card-body .card-title {
  font-size: 1.5em;
  margin-bottom: 8px;
  line-height: 1.1;
}

.card-body .weapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card-body .heading {
  font-size: 3em;
  margin-right: 80px;
}

.card-body .weather-icon {
  width: 94px;
  height: 94px;
}

.card-body .body-3 {
  font-size: 1em;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.list .items {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list .items span {
  margin-right: 10px;
  font-size: 1.2em;
  color: #E3FEF7;
}

/* Days-forecast */
.content-left #day-forecast {
  color: #E3FEF7;
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
}

.icons-wrapper .weather-icon {
  margin-top: 4px;
  margin-right: 30px;
}

.icons-wrapper span .temperature {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 4px;
  margin-right: 20px;
}

.items .icons-wrapper .dates {
  font-size: 20px;
  font-weight: 400;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 40px;
}

.items .icons-wrapper .days {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 20px;
}

/* Content Right */
.content-right {
  width: 80%;
  border-radius: 20px;
}

.content-right .card {
  display: flex;
  background-color: #135D66;
  border-radius: 8px;
  color: #E3FEF7;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.content-right .card .card-title {
  font-size: 20px;
}

.content-right .card .card-sm {
  display: flex;
  background-color: #003C43;
  border-radius: 8px;
  color: #E3FEF7;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(33, 33, 33, 0.1);
  width: 100%;
}

.card-sm .air-quality {
  display: flex;
  justify-content: space-between;
}

.card-sm .air-quality .air-title {
  font-size: 18px;
  margin-top: 6px;
}

.card-sm .air-quality .good {
  background-color: #135D66;
  border: 1px solid #003C43;
  color: #E3FEF7;
  margin: 2px;
  padding: 2px 8px;
  border-radius: 20px;
}

.card-sm .air-quality .good:hover {
  color: #E3FEF7;
  background-color: #77B0AA;
  border: 1px solid #003C43;
}

.card-sm .air {
  display: flex;
  margin: 30px 0 10px 0;
}

.card-sm .air img {
  margin: 20px 0;
  margin-right: 5px;
}

.card-sm .air ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.card-sm .air ul li {
  margin: 0 25px;
}

.card-sm .air ul li .air-scale {
  font-size: 16px;
  text-align: center;
  justify-content: center;
}

.card-sm .air ul li .air-nmnr {
  font-size: 2rem;
}

.card-sm .sunrise-sunset {
  display: flex;
  justify-content: space-between;
}

.card-sm .sunrise-sunset .sunset-title {
  font-size: 18px;
  margin-top: 6px;
}

.card-sm .sun-times {
  display: flex;
  margin: 20px 0 10px 0;
}

.card-sm .sun-times ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.card-sm .sun-times ul li {
  margin: 0 25px;
}

.card-sm .sun-times img {
  margin: 30px 10px 0 10px;
}

.card-sm .sun-times ul li .set {
  font-size: 16px;
  text-align: center;
  margin-bottom: 14px;
}

.card-sm .sun-times ul li .time {
  font-size: 2rem;
}

.card-sm .updates .updates-title {
  font-size: 16px;
  text-align: start;
  margin-bottom: 14px;
}

#small-cards .updates-value span #icons {
  margin: 30px 10px 0 10px;
  width: 36px;
  font-weight: 800;
}

#small-cards .updates-value .updates-nmr {
  font-size: 1.7rem;
  margin-top: 20px;
  margin-left: 20px;
}

.content-right #today-at {
  color: #E3FEF7;
  background: #003C43;
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
}

.content-right #days {
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 25px;
  margin-left: 25px;
}

.content-right #days .card-sm ul {
  list-style: none;
  margin: 0;
}

.content-right #days .card-sm ul li {
  font-weight: 600;
  margin-top: 10px;
}


@media (max-width: 1656px) {
  #small-cards  {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .content-right .card .card-sm{
    margin-left: 20px;
  }

  .content-right .card .card-sm #air {
    margin-left: 20px;
  }

  .card-sm .sun-times ul li {
    margin: 0 15px;
  }

  .card-sm .air ul li {
    margin: 0 20px;
  }
}

@media (max-width: 1520px) {
  .card-sm .sun-times ul li {
    margin: 0 10px;
  }

  .card-sm .air ul li {
    margin: 0 15px;
  }

  .card-sm .sun-times ul li .time {
    font-size: 1.3rem;
  }

  .card-sm .air ul li .air-nmnr {
    font-size: 1.5rem;
  }
  .content-left .card {
    padding: 20px 30px 10px 20px;
  }
}

@media (max-width: 1276px) {
  .content-right #days {
    flex-wrap: wrap;
  }

  #small-cards .updates-value .updates-nmr {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 10px;
  }

  .card-sm .air ul li {
    margin: 0 10px;
  }

  .card-sm .sun-times ul li {
    margin: 0 8px;
  }

  .card-sm .sun-times ul li .time {
    font-size: 1rem;
    font-weight: 600;
  }

  .content-left .card {
    padding: 20px 30px 10px 20px;
  }

}

@media (max-width: 1155px) {
  .card-sm .air ul li {
    margin: 0 6px;
  }
  .card-sm .sun-times ul li .time {
    font-size: 14px;
    font-weight: 700;
  }
}


@media (max-width: 998px) {
  .card-sm .sun-times ul li {
    margin: 0 10px;
  }

  .card-sm .air ul li {
    margin: 0 15px;
  }

  .card-sm .sun-times ul li .time {
    font-size: 1.3rem;
  }

  .card-sm .air ul li .air-nmnr {
    font-size: 1.5rem;
  }

  /* .content-right .card .card-sm {
    margin-left: 0;
  } */

}

@media (max-width: 768px) {
  
  .content-left, .content-right {
    padding: 10px;
  }

  .content-right {
    width: 100%;
  }
/* 
  .content-left .card, .content-right .card {
    padding: 20px;
  } */
  
  .content-left .card {
    padding: 10px 20px 10px 30px;
  }

  .content-left .card #forecast {
    padding: 20px 30px 20px 40px;
  }

  .icons-wrapper .weather-icon {
    margin-top: 4px;
    margin-right: 20px;
  }


  .card-sm .air ul li {
    margin: 0 16px;
  }

  .content-right .card .card-sm {
    width: 560px;
    /* margin-left: 20px; */
  }

  .card-body .heading {
    font-size: 2em;
    margin-right: 20px;
  }

  .card-body .weather-icon {
    width: 74px;
    height: 74px;
  }

  .icons-wrapper span .temperature {
    font-size: 1.5rem;
    margin-right: 15px;
  }

  .items .icons-wrapper .dates, .items .icons-wrapper .days {
    font-size: 16px;
    margin-right: 20px;
  }

  .items .icons-wrapper .dates{
    margin-right: 20px;
  }

  .content-right .card .card-sm {
    flex-direction: column;
    width: 100%;
  }

  .card-sm .air ul, .card-sm .sun-times ul {
    flex-direction: column;
    align-items: center;
  }

  .card-sm .air ul li, .card-sm .sun-times ul li {
    margin: 10px 0;
  }
  .card .list .items {
    margin-left: 20px;
  }

  #small-cards {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .content-right .card {
    padding: 20px 40px 20px 20px;
  }
}

@media (max-width: 496px) {
  .navbar .navbar-brand .logo {
    margin: 0;
  }

  nav #navbarContent .form-control {
    width: 100%;
    padding: 8px 15px;
  }

  .card-body .heading {
    font-size: 1.5em;
  }

  .card-body .weather-icon {
    width: 54px;
    height: 54px;
  }

  .icons-wrapper span .temperature {
    font-size: 1.2rem;
  }

  .card .list .items {
    margin-left: 20px;
  }

  .items .icons-wrapper .dates, .items .icons-wrapper .days {
    font-size: 14px;
    margin-right: 10px;
  }

  .content-right .card .card-sm {
    padding: 10px;
  }

  .content-right .card .card-sm {
    margin-left: 0;
  }

  .card-sm .air img {
    justify-content: center;
  }

  #small-cards  {
    margin-left: 20px;
  }

  .content-left .card, .content-right .card {
    padding: 20px 30px 20px 10px;
  }

  .card-sm .sun-times ul li .set {
    font-size: 16px;
  }

  section {
    margin: 20px;
  }


  .content-right .card {
    padding: 10px 20px 10px 10px;
  }

}

@media (max-width: 376px) {

  .content-left .card {
    padding: 5px;
  }


  .navbar .navbar-brand .logo {
    margin: 0;
  }

  nav #navbarContent .form-control {
    width: 80%;
    padding: 6px 12px;
  }

  .card-body .heading {
    margin-top: 4px;
    font-size: 1.5em;
  }

  .card-body .weather-icon {
    width: 64px;
    height: 64px;
    margin-left: 20px;
  }

  .icons-wrapper span .temperature {
    margin-top: 6px;
    margin-right: 5px;
    font-size: 1.2rem;
  }

  .items .icons-wrapper .dates {
    margin-top: 10px;
    margin-left: 5px;
  }

  .items .icons-wrapper .days {
    margin-left: 10px;
  }

  .items .icons-wrapper .dates, .items .icons-wrapper .days {
    font-size: 12px;
    margin-right: 5px;
  }

  .content-left .card {
    padding: 5px 10px 5px 10px;
  }

  .content-right .card .card-sm {
    padding: 10px;
  }
  
  .icons-wrapper .weather-icon {
    margin-right: 12px;
  }

  .content-right .card .card-sm {
    width: 300px;
    /* height: 200px; */
  }

  .card-sm .air-quality .air-title {
    font-size: 14px;
    margin-top: 6px;
  }

  .card-sm .air-quality .good {
    margin: 0;
  }

  .card-sm .air {
    margin: 20px 0 5px 0;
  }

  .card-sm .air img {
    margin: 10px 0;
    margin-right: 5px;
  }

  .content-right .card .card-sm {
    margin-left: 0;
  }

  .card-sm .sun-times ul li .set {
    font-size: 16px;
  }

  .content-right .card {
    padding: 10px;
  }

  #small-cards {
    margin-left: 0px;
  }

  .card .list .items {
    margin-left: 4px;
  }
 
}
